/*-------- GLOBAL STYLES ---------*/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 0 auto;
}

/*-------- TYPOGRAPHY ---------*/

h1 h2 h3 {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

/*-------- HEADER ---------*/

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 2.4rem;
}

.header-logo {
  padding-bottom: 1.6rem;
}

header nav {
  background-color: #303a75;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul.active {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #f3f3f7;
  line-height: 3.2rem;
}

.hamburger {
  background: none;
  border: none;
  color: #f3f3f7;
}
